@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
    --color-primary: #3B7868
}

@theme {
    --color-primary: #3B7868;
    --font-inter: "Inter", sans-serif;
    --bg-pattern: url('/images/background-home.png');
}

.bg-pattern {
    background-image: var(--bg-pattern);
}

/* cor normal das bolinhas */
.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 1;
}

/* cor da bolinha ativa */
.swiper-pagination-bullet-active {
  background-color: #3b7868;
}