.card {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  text-align: center;
  margin: 15px;
}

.header {
  background: #3b7868;
  height: 65px;
  position: relative;
}

.star {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  position: relative;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

.info {
  padding: 20px;
}
.info h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
.specialty {
  color: #555;
  margin-bottom: 8px;
}
.crm {
  font-size: 14px;
  color: #888;
}
